@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    
    
    <button id="rand-chr-class" name="appear">Random Character Class</button>
        <label for="chr-level">Character Level: </label><select id="chr-level" size="1">
            @for(int i = 1; i <= 20; i++)
            { <option value="@i">@i</option>}
        </select>
    <br>
 
</div>
<div class="text-right">
    <div  id="results">Waiting</div>
    <div id="random-chr-display">

    </div>
</div>



